.login {
  margin: auto;
  padding: 20px;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    height: 2000px;
    width: 2000px;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #536DFE 0%, #0050c8 100%);
    z-index: 6;
  }

  .formsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .signinForm {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    display: flex;
    justify-content: center;
    z-index: 5;
  }
  .form {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // padding: 0rem 5rem;
    // overflow: hidden;
    // grid-column: 1 / 2;
    // grid-row: 1 / 2;
    width: 50%;
    button,
    button[disabled] {
      width: 100%;
      background-image: linear-gradient(-45deg, #5f8d21 0%, #9ba513 100%);
      border-radius: 50px;
      margin-top: 10px;
      opacity: 1;
      height: 40px;
      font-size: 16px;
      color: white;
      border: none;
    }
  }

  .icon {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
  }

  .input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }

  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }

  .panelsContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .image {
    width: 100%;
  }
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  .panelsContent {
    color: #fff;
    width: 100%;
    .h3 {
      font-weight: 600;
      line-height: 1;
      font-size: 1.5rem;
    }
    .p {
      font-size: 0.95rem;
      padding: 0.7rem 0;
    }
  }
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signinForm {
    width: 100% !important;
    top: 60% !important;
    transform: translate(-50%, -100%);
    left: 50% !important;
  }

  .panelsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
  }

  .panelsContent {
    padding-right: 15%;
  }

  .h3 {
    font-size: 1.2rem !important;
  }

  .p {
    font-size: 0.7rem !important;
    padding: 0.5rem 0 !important;
  }

  .container {
    &:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
    }
  }
}

@media (max-width: 570px) {
  .signinForm {
    .form {
      width: 100%;
    }
  }
  .form {
    padding: 0 1.5rem !important;
    width: 100%;
  }

  .image {
    display: none;
  }
  .panelsContent {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
    &:before {
      bottom: 72%;
      left: 50%;
    }
  }
}
